.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }
  .register-form {
    width: 35vw;
  }
  .alert-wrapper {
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .alert-wrapper c-alert {
    display: inline-block;
  }